.container {
	/* position: relative; */
	display: flex;
	flex-direction: column;

	/* gap: 20px; */
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 20px;
}

.input {
	font-size: 64px;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--text-color);
	width: 90%;
}

.input::placeholder {
	color: var(--muted-color);
}

.options {
	display: flex;
	gap: 20px;
}

.select {
	outline: none;
	padding: 1rem 2rem;
	border-radius: 20px;
	background-color: var(--softBg);
	border-right: 2rem solid transparent;
	font-weight: 500;
}

.uploadImageContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 50vh;
	gap: 20px;
}

.editor {
	height: 600px;
	overflow-y: scroll;
	margin: 20px 0px;
}

.textArea {
	width: 100%;
}

.imagePreview {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	cursor: pointer;
}

.uploadImageSvg {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
	cursor: pointer;
	border: 1px dashed #b3b3b1;
}
