@import url(https://www.nerdfonts.com/assets/css/webfont.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #fff;
	--primary-color: #8e54e9;
	--textColor: #000;
	--softBg: #f0f0f0;
	--softTextColor: #626262;
	--border-color: #f0eff5;
	--shadow-color: #9d99aa42;
	--box-shadow: 0 0 16px;
	--border-radius: 6px;
	--muted-color: #aaabb7;
}

.dark {
	--bg: #19171d;
	--textColor: #ddd;
	--softBg: #25232b;
	--softTextColor: #a6a6a6;
	--border-color: #231e2c;
	--shadow-color: #322f3b42;
	--muted-color: #686a77;
}

@layer components {
	.title-color {
		@apply text-[#412075] dark:text-[#8e54e9];
	}

	.text-color {
		@apply text-[#34363d] dark:text-[#c1c6df];
	}

	.bg-primary {
		@apply bg-[var(--bg)] text-[var(--textColor)];
	}
}

.box {
	background-color: var(--softBg);
	box-shadow: var(--box-shadow) var(--shadow-color);
	border: 1px solid var(--border-color);
	padding: 1rem;
	border-radius: var(--border-radius);
}

.box-content {
	background-color: var(--softBg);
	box-shadow: var(--box-shadow) var(--shadow-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.primary-color {
	color: var(--primary-color);
}

.bg-primary-color {
	background-color: var(--primary-color);
}

.shadow-color {
	color: var(--shadow-color);
}
