.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 64px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to left, #4776e6, #8e54e9);
	transition: 0.4s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 24px;
	width: 24px;
	border-radius: 50%;
	left: 5px;
	bottom: 5px;
	z-index: 2;
	background-color: white;
	transition: 0.4s;
}

.sun i,
.moon i {
	position: absolute;
	top: 7px;
	z-index: 1;
	font-size: 20px;
	color: white;
}

.sun i {
	right: 7px;
}

.moon i {
	left: 7px;
}

/* .switch:hover */
.sun i {
	animation: rotate 15s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* .switch:hover */
.moon i {
	animation: tilt 5s linear infinite;
}

@keyframes tilt {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(-10deg);
	}

	75% {
		transform: rotate(10deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.input:checked + .slider {
	background-image: linear-gradient(to left, #8e54e9, #4776e6);
}

.input:checked + .slider:before {
	transform: translateX(30px);
}
