.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}

.logo {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	color: #8e54e9;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	gap: 24px;
	font-size: 1rem;
}

@media screen and (max-width: 1280px) {
	.menu {
		font-size: 1rem;
		gap: 15px;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.logo {
		font-size: 1rem;
	}
}

@media screen and (max-width: 640px) {
	.link {
		display: none;
	}
}
